html {
  font-size: 62.5%;
  -ms-overflow-style: -ms-autohiding-scrollbar; // overlay scroll (edge, possibly IE)
  height: 100%;
}
#container, body {
  min-height: 100%;
}

body {
  background: #f8f8f8;
  color: $black;
  overscroll-behavior: none;
  font-family: sans-serif;
  font-size: px(16);
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@include print {
  .print-hidden {
    display: none;
  }
}


#container {
  background-color: white;
  > header, section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    // + * {
    //   margin-top: px(24);
    // }
  }
}

@include screen {
  #container {
    > * {
      padding: 0 $page-margin;
    }
    margin: px(24) auto;
    box-sizing: border-box;
    // width: 8.5in;
    // height: 12in;
    width: 8.3in;
    height: 11.7in;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
  }
  body {
    padding-bottom: px(24);
  }
}

#container {
  > * {
    padding-top: $page-spacing;
    padding-bottom: $page-spacing;
    &:nth-child(1) {
      padding-top: $page-margin;
    }
  }
  .joined-section + .joined-section {
    padding-top: 0;
  }
}

#container:hover + aside.action-panel {
  opacity: 0.2;
}

aside.action-panel {
  position: fixed;
  top: 18pt;
  right: 18pt;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  a {
    font-size: 0;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid $primary;
    background: white;
    display: inline-block;
    color: $black;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $primary;
    }
  }
  i.material-icons {
    font-size: 48px;
  }
}