$header-columns: #{1 / 1 / 2 / 2}, #{1 / 2 / 2 / 4}, #{1 / 4 / 2 / 6};
@include generateRowColumns("header", $header-columns);
$avatar-size: px(130);

#header {
  align-items: center;
  // background: mix(white, $primary, 90%);
}

.avatar {
  height: $avatar-size;
  width: $avatar-size;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background: #EEECEC;
  // background-color: #CBC5C5;
  img {
    width: auto;
    height: 100%;
    pointer-events: none;
  }
}

.name {
  font-size: px(42);
	// line-height: px(65);
	// margin-bottom: px(28);

  // font-size: px(40);
  color: $primary;
  display: table-caption;
  margin-bottom: px(4);
  line-height: 0.94;
}

.subtitle {
  font-family: $ff-heading;
  font-weight: 500;
  text-transform: uppercase;
  font-size: px(14);
}

.meta {
  // text-align: right;
  li {
    padding: px(2) 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: px(16);
    text-align: right;
  }
  i.material-icons {
    padding-left: px(4);
    font-size: px(18);
    color: $primary;
  }
}

@include print {
  #header a {
    color: $black;
    &::before {
      content: "www.";
    }
  }
}