<h1>
  <% if (t.titleIcon) { %>
    <i class="<%= t.titleIconClass ? t.titleIconClass : 'material-icons' %>"><%= t.titleIcon %></i>
  <% } %>
  <% if (t.title) { %>
    <span><%= t.title %></span>
  <% } %>
</h1>