<%- include('components/_title', { t: summary }); %>
<section id="summary" class="summary">
  <div class="column">
    <% summary.description.map((current) => { %>
      <p>
        <%= current %>
      </p>
    <% }) %>
  </div>
</section>