<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- todo favicon -->
    <% const d = new Date(); %>
    <% const dateTitle = d.getDay() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear(); %>
    <title><%= title %> | <%= name %> | <%= dateTitle %></title>
    <link type="text/plain" rel="author" href="humans.txt" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="styles/global.css" type="text/css" rel="stylesheet" />
    <script>
      function printDocument(event) {
        window.print();
        event.preventDefault();
      }
    </script>
  </head>
  <body>
    <div id="container">
      <%- yield %>
    </div>
    <aside class="print-hidden">
      Press "Command + P" to print or save as an A4 PDF document.
      <a href="#!print" onclick="printDocument(event);">Print</a>
    </aside>
  </body>
</html>